#h-main{
    text-align: center;
    font-family: "DM Sans";
}
#d-main{
    background-color:rgb(175, 237, 212);
}
#d-nav{
    text-align: center;
    background-color:lightcoral;
    border: solid 5px darkgray;
}
#d-nav a{
    padding-left:50px;
    padding-right:50px;
    text-decoration: none;
}
#contact{
    text-align: center;
}
a{
    text-decoration: none;
    color:black;
}